<div class="container full-screen">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3>Modifier <%= @peinture.titre %></h3>

      <%= simple_form_for @peinture do |f| %>
      <%= f.input :titre %>
      <%= f.input :description %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.button :submit, "Modifier peinture", class: "btn btn-primary" %>
      <%= link_to "Supprimer peinture", peinture_path(@peinture), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>

</div>
