<div class="container full-screen">
  <div class="row">
  <h3>Nouvelle Peinture</h3>
    <div class="col-xs-12 col-md-8">
      <%= simple_form_for @peinture do |f| %>
      <%= f.input :titre %>
      <%= f.input :description %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.button :submit, "Créer peinture", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
